.module {
  .ant-page-header {
    padding: 0 0 16px 0;

    .ant-page-header-heading-extra {
      button:last-child {
        margin-right: 0;
      }
    }
  }
  .form-actions {
    margin-top: 24px;
  }

  .ant-select-auto-complete .ant-select-selector .ant-select-selection-search {
    left: 0;
    right: 0;
  }
}
.module-list {
  .ant-input-search {
    width: 200px;
    padding: 0 0 16px 0;
  }
  .ant-pagination {
    padding: 0 0 16px 0;
  }
  .ant-pagination {
    float: right;
  }
  .ant-pagination-options-size-changer.ant-select {
    margin: 0;
  }
  .ant-btn-link {
    padding: 0;
    margin: 0;
  }

  .ant-table-cell {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .ant-table-small {
    .ant-table-filter-column-title {
      padding-left: 8px;
    }
    .ant-btn-link {
      height: auto;
    }
  }
}
