.module-list {
  .ant-input-search {
    width: 200px;
    padding: 0 0 16px 0;
  }
  .ant-page-header,
  .ant-pagination {
    padding: 0 0 16px 0;
  }
  .ant-pagination {
   float: right;
  }
  .ant-pagination-options-size-changer.ant-select {
    margin: 0;
  }
}
