.ant-input-number {
  input {
    text-align: right;
    padding-right: 26px;

    &[disabled] {
      padding-right: 11px;
    }
  }
}

input.input-money {
  text-align: right;
}
.input-money {
  width: 120px;

  &.input-money-fullwidth {
    width: 100%;
  }
}
