.ant-layout {
  min-height: 100vh;

  .content-container {
    background: #fff;
    padding: 24px;
    min-height: 505px;
  }

  .ant-layout-footer {
    text-align: center;
  }
}

.app--web {
  .ant-layout-content {
    margin: 0 16px;

    .ant-breadcrumb {
      margin: 16px 0;
    }
  }
}

.ant-layout.app--dark {
  .ant-layout-footer,
  .ant-layout {
    background: darken(rgb(0, 21, 41), 2);
  }
  .content-container {
    background: rgb(0, 21, 41);
  }
}
