.app-title {
  display: block;
  color: white;
  background: #108ee9;
  border-right: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  overflow: hidden;

  span {
    font-size: 1.25em;
  }
}

.app-logo {
  flex-shrink: 0;
  height: 54px;
  width: 54px;
  padding: 10px;
}

.ant-list-item {
  .ant-list-item-action {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.ant-layout-sider-collapsed {
  .app-title {
    justify-content: center;
  }
  .app-logo + span {
    max-width: 0;
    opacity: 0;
  }
}

.ant-layout {
  min-height: 100vh;

  .ant-layout-sider-children {
    position: fixed;
    left: 0;
    width: 200px;
    transition: all 0.2s;
  }
  .ant-layout-sider-collapsed .ant-layout-sider-children {
    width: 80px;
  }

  .content-container {
    background: #fff;
    padding: 24px;
    min-height: 505px;
  }

  .ant-layout-footer {
    text-align: center;
  }
}

.app--web {
  .ant-layout-content {
    margin: 0 16px;

    .ant-breadcrumb {
      margin: 16px 0;
    }
  }
}

.ant-layout.app--dark {
  .ant-layout-footer,
  .ant-layout {
    background: darken(rgb(0, 21, 41), 2);
  }
  .content-container {
    background: rgb(0, 21, 41);
  }
}

.modal-wizard {
  .modal-wizard-content {
    margin: 24px 0;
  }
  .modal-wizard-control {
    text-align: right;
  }
  .ant-upload-error {
    color: #ff4d4f;
  }

  .list-item-row {
    display: block;
  }
  .ant-list-item .ant-select {
    display: block;
  }
  .ant-form-item {
    height: 32px;

    .ant-col {
      justify-content: center;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .ant-alert {
    margin-bottom: 24px;
  }
}
