.app--mobile {
  .ant-layout {
    height: 100vh;
    overflow: hidden;
  }
  .content-container {
    padding: 0;
    flex-grow: 1;
    overflow: auto;
  }
  .am-tab-bar {
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
  }
  .am-navbar {
    border-bottom: 1px solid #ddd;
  }

  .module {
    height: 100%;
    display: flex;
    flex-direction: column;

    .am-navbar {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .module-list > .am-list-wrap,
  .module-content {
    flex-grow: 1;
    overflow: auto;
  }
  .module-content {
    padding: 16px;

    > .am-list,
    > .ant-list {
      // make it borderless again
      margin: 0 -16px;
    }
  }

  .ant-list .ant-list-item {
    padding: 16px;

    .ant-row {
      width: 100%;
    }
  }

  .module-list .module-content {
    padding-top: 0;
  }

  .ant-tree {
    font-size: 16px;
    .ant-tree-treenode {
      padding-bottom: 10px;
    }
  }
}
