.app-loading {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  text-align: center;

  &.app--dark {
    background: rgb(0, 16, 31);
  }
}

.app--dark {
  color: rgba(255, 255, 255, 0.65);

  .ant-page-header-heading-title {
    color: rgba(255, 255, 255, 0.65);
  }
}
